@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: #efefef;
}

.artist-name{
  font-size: 50px;
}

.artist-bio{
  font-size: 20px;
}

.artist{
  display: inline-block;
}

.songs{
  background-color: white;
  border-bottom: 1px solid gray;
  padding: 2px;
}

.button-text{
  color: white;
}
.playlists{
  width: 300px;
}
.list{
  background: #1f73f2;
  color: white;
  font-size: 30px;
  padding: 30px 10px 10px 50px;
  border: 1px solid white;

}
